# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [5]:
df.shape

(8693, 14)

**Check for data types**

In [6]:
df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [7]:
df.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [8]:
df.dropna(inplace=True)

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [10]:
df['FL_Cabin'] = df['Cabin'].str.split('/').str[0]

- Drop PassengerId and Name

In [12]:
df = df.drop(columns=['PassengerId', 'Name'])

- For non-numerical columns, do dummies.

In [14]:
df = pd.get_dummies(df, columns=df.select_dtypes(include=['object']).columns)

**Perform Train Test Split**

In [18]:
dd = df['Transported']
df = df.drop(columns=['Transported'])

In [20]:
X_train, X_test, y_train, y_test = train_test_split(df, dd, test_size = 0.20, random_state=0)

In [26]:
X_train

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,...,VIP_False,VIP_True,FL_Cabin_A,FL_Cabin_B,FL_Cabin_C,FL_Cabin_D,FL_Cabin_E,FL_Cabin_F,FL_Cabin_G,FL_Cabin_T
3432,32.0,0.0,0.0,0.0,0.0,0.0,False,False,True,False,...,True,False,False,False,False,False,True,False,False,False
7312,4.0,0.0,0.0,0.0,0.0,0.0,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2042,30.0,0.0,236.0,0.0,1149.0,0.0,True,False,False,True,...,True,False,False,False,False,False,False,True,False,False
4999,17.0,13.0,0.0,565.0,367.0,1.0,False,False,True,True,...,True,False,False,False,False,False,True,False,False,False
5755,26.0,0.0,0.0,0.0,0.0,0.0,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6518,53.0,0.0,0.0,0.0,0.0,0.0,False,False,True,True,...,True,False,False,False,False,False,True,False,False,False
4317,36.0,0.0,0.0,0.0,725.0,2.0,True,False,False,True,...,True,False,False,False,False,False,False,True,False,False
2214,36.0,0.0,4756.0,0.0,7818.0,96.0,False,True,False,True,...,True,False,False,False,False,True,False,False,False,False
3468,34.0,0.0,4.0,0.0,685.0,1779.0,False,True,False,True,...,False,True,False,False,False,True,False,False,False,False
3642,14.0,2.0,881.0,0.0,578.0,214.0,False,True,False,True,...,True,False,False,False,False,True,False,False,False,False

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10)

In [29]:
knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=10)

- Evaluate your model's performance. Comment it

In [31]:
print(f"The R2 of the model on the TEST set is: {knn.score(X_test, y_test): .2f}")

The R2 of the model on the TEST set is:  0.40