# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [ ]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.neighbors import KNeighborsRegressor #class

from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

**Check the shape of your data**

In [121]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    6606 non-null   object
 1   CryoSleep     6606 non-null   object
 2   Cabin         6606 non-null   object
 3   Destination   6606 non-null   object
 4   Age           6606 non-null   float64
 5   VIP           6606 non-null   object
 6   RoomService   6606 non-null   float64
 7   FoodCourt     6606 non-null   float64
 8   ShoppingMall  6606 non-null   float64
 9   Spa           6606 non-null   float64
 10  VRDeck        6606 non-null   float64
 11  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 625.8+ KB

**Check for data types**

In [127]:
print(spaceship.dtypes)

HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported        bool
dtype: object

**Check for missing values**

In [129]:
print(spaceship.isnull().sum())

HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [131]:
spaceship = spaceship.dropna()

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [133]:
spaceship['Cabin'].unique()

array(['B', 'F', 'A', 'G', 'E', 'C', 'D', 'T'], dtype=object)

In [135]:

spaceship['Cabin'] = spaceship['Cabin'].str.strip().apply(lambda x: x[0] if pd.notnull(x) else x)

display(spaceship)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,G,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,G,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,E,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,E,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [107]:
spaceship['Cabin'].unique()

array(['B', 'F', 'A', 'G', 'E', 'C', 'D', 'T'], dtype=object)

In [137]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    6606 non-null   object
 1   CryoSleep     6606 non-null   object
 2   Cabin         6606 non-null   object
 3   Destination   6606 non-null   object
 4   Age           6606 non-null   float64
 5   VIP           6606 non-null   object
 6   RoomService   6606 non-null   float64
 7   FoodCourt     6606 non-null   float64
 8   ShoppingMall  6606 non-null   float64
 9   Spa           6606 non-null   float64
 10  VRDeck        6606 non-null   float64
 11  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 625.8+ KB

- Drop PassengerId and Name

In [139]:
spaceship = spaceship.drop(['PassengerId', 'Name'], axis=1)

KeyError: "['PassengerId', 'Name'] not found in axis"

- For non-numerical columns, do dummies.

In [141]:
categorical_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

In [143]:
spaceshipdf=spaceship.copy()

In [147]:
from sklearn.datasets import fetch_openml
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler


categorical_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
# Split dataset into features and target
X = spaceshipdf.drop(columns=['Transported'])
y = spaceshipdf['Transported']

# non-numerical columns
categorical_cols = X.select_dtypes(include=['object']).columns

# OneHotEncoder 
ohe = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' to avoid multicollinearity
X_categorical_cols = ohe.fit_transform(X[categorical_cols])
X_non_numerical_transformed_df = pd.DataFrame(X_categorical_cols, columns=ohe.get_feature_names_out(categorical_cols), index=X.index)

In [149]:
spaceshipdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    6606 non-null   object
 1   CryoSleep     6606 non-null   object
 2   Cabin         6606 non-null   object
 3   Destination   6606 non-null   object
 4   Age           6606 non-null   float64
 5   VIP           6606 non-null   object
 6   RoomService   6606 non-null   float64
 7   FoodCourt     6606 non-null   float64
 8   ShoppingMall  6606 non-null   float64
 9   Spa           6606 non-null   float64
 10  VRDeck        6606 non-null   float64
 11  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 625.8+ KB

**Perform Train Test Split**

In [151]:
# Combine the transformed non-numerical columns with numerical columns
X_numerical = X.drop(columns=categorical_cols)
X_transformed = pd.concat([X_numerical, X_non_numerical_transformed_df], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=42)


print("Training features:")
print(X_train.head())
print("Training target:")
print(y_train.head())
print("Test features:")
print(X_test.head())
print("Test target:")
print(y_test.head())

Training features:
       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
7832  25.0          0.0     1673.0           0.0   642.0   612.0
5842  36.0          0.0     2624.0        1657.0  2799.0     1.0
3928  34.0          0.0        0.0           0.0     0.0     0.0
4091  37.0          0.0        0.0           0.0     0.0     0.0
7679  22.0          0.0        0.0           0.0     0.0     0.0

      HomePlanet_Europa  HomePlanet_Mars  CryoSleep_True  Cabin_B  Cabin_C  \
7832                1.0              0.0             0.0      0.0      0.0
5842                1.0              0.0             0.0      0.0      1.0
3928                0.0              1.0             1.0      0.0      0.0
4091                0.0              0.0             1.0      0.0      0.0
7679                0.0              0.0             1.0      0.0      0.0

      Cabin_D  Cabin_E  Cabin_F  Cabin_G  Cabin_T  Destination_PSO J318.5-22  \
7832      0.0      0.0      0.0      0.0      0.0                        0.0
5842      0.0      0.0      0.0      0.0      0.0                        0.0
3928      0.0      0.0      1.0      0.0      0.0                        0.0
4091      0.0      0.0      0.0      1.0      0.0                        0.0
7679      0.0      0.0      0.0      1.0      0.0                        1.0

      Destination_TRAPPIST-1e  VIP_True
7832                      0.0       0.0
5842                      1.0       0.0
3928                      0.0       0.0
4091                      0.0       0.0
7679                      0.0       0.0
Training target:
7832    False
5842    False
3928     True
4091     True
7679     True
Name: Transported, dtype: bool
Test features:
       Age  RoomService  FoodCourt  ShoppingMall  Spa  VRDeck  \
8441  29.0          0.0        0.0           0.0  0.0     0.0
8058  13.0          0.0        0.0           0.0  0.0     0.0
320   50.0          0.0        0.0           0.0  0.0     0.0
2548   6.0          0.0        0.0           0.0  0.0     0.0
8027  37.0        210.0        3.0         601.0  1.0    68.0

      HomePlanet_Europa  HomePlanet_Mars  CryoSleep_True  Cabin_B  Cabin_C  \
8441                1.0              0.0             1.0      1.0      0.0
8058                0.0              0.0             1.0      0.0      0.0
320                 0.0              0.0             1.0      0.0      0.0
2548                0.0              0.0             0.0      0.0      0.0
8027                0.0              0.0             0.0      0.0      0.0

      Cabin_D  Cabin_E  Cabin_F  Cabin_G  Cabin_T  Destination_PSO J318.5-22  \
8441      0.0      0.0      0.0      0.0      0.0                        0.0
8058      0.0      0.0      0.0      1.0      0.0                        0.0
320       0.0      0.0      0.0      1.0      0.0                        0.0
2548      0.0      0.0      0.0      1.0      0.0                        0.0
8027      0.0      0.0      0.0      1.0      0.0                        0.0

      Destination_TRAPPIST-1e  VIP_True
8441                      1.0       0.0
8058                      0.0       0.0
320                       1.0       0.0
2548                      0.0       0.0
8027                      1.0       0.0
Test target:
8441     True
8058     True
320      True
2548    False
8027    False
Name: Transported, dtype: bool

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [157]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

# predictions on the test set
y_pred = knn.predict(X_test)

Accuracy: 0.7881996974281392
Classification Report:
              precision    recall  f1-score   support

       False       0.78      0.79      0.79       653
        True       0.79      0.79      0.79       669

    accuracy                           0.79      1322
   macro avg       0.79      0.79      0.79      1322
weighted avg       0.79      0.79      0.79      1322

Confusion Matrix:
[[515 138]
 [142 527]]

- Evaluate your model's performance. Comment it

In [161]:
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

# Print the evaluation results
print(f'Accuracy: {accuracy}')
print(f'Classification Report:\n{report}')
print(f'Confusion Matrix:\n{conf_matrix}')

Accuracy: 0.7881996974281392
Classification Report:
              precision    recall  f1-score   support

       False       0.78      0.79      0.79       653
        True       0.79      0.79      0.79       669

    accuracy                           0.79      1322
   macro avg       0.79      0.79      0.79      1322
weighted avg       0.79      0.79      0.79      1322

Confusion Matrix:
[[515 138]
 [142 527]]