# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [87]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [65]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [66]:
spaceship.shape

(8693, 14)

**Check for data types**

In [67]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [68]:
spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [69]:
df = spaceship.dropna()

In [70]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [71]:
df.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [72]:
df["Cabin"]

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 6606, dtype: object

In [73]:
# Transformar la columna 'cabin' para obtener solo las letras de las cabinas

df['Cabin'] = df['Cabin'].str[0]

/var/folders/__/k53x5x752318rh35q54k32m80000gn/T/ipykernel_6495/3652468813.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cabin'] = df['Cabin'].str[0]

In [74]:
df["Cabin"].value_counts()

Cabin
F    2152
G    1973
E     683
B     628
C     587
D     374
A     207
T       2
Name: count, dtype: int64

- Drop PassengerId and Name

In [75]:
df = df.drop(columns=["PassengerId","Name"])
df.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

- For non-numerical columns, do dummies.

In [76]:
df.dtypes

HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported        bool
dtype: object

In [77]:
df_dummies = pd.get_dummies(df, columns=['HomePlanet',"CryoSleep","Cabin", "Destination"], prefix=['HomePlanet',"CryoSleep","Cabin", "Destination"]
                           )

# Convertir cualquier columna boolean a 0 y 1
df_dummies = df_dummies.astype(int)

In [78]:
# Inicializar el LabelEncoder
label_encoder = LabelEncoder()

# Aplicar Label Encoding a las columnas 'Transported' y 'VIP'
df_dummies['Transported_encoder'] = label_encoder.fit_transform(df_dummies['Transported'])
df_dummies = df_dummies.drop(columns=["Transported"])


df_dummies['VIP_encoder'] = label_encoder.fit_transform(df_dummies['VIP'])
df_dummies = df_dummies.drop(columns=["VIP"])

In [79]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        6606 non-null   int64
 1   RoomService                6606 non-null   int64
 2   FoodCourt                  6606 non-null   int64
 3   ShoppingMall               6606 non-null   int64
 4   Spa                        6606 non-null   int64
 5   VRDeck                     6606 non-null   int64
 6   HomePlanet_Earth           6606 non-null   int64
 7   HomePlanet_Europa          6606 non-null   int64
 8   HomePlanet_Mars            6606 non-null   int64
 9   CryoSleep_False            6606 non-null   int64
 10  CryoSleep_True             6606 non-null   int64
 11  Cabin_A                    6606 non-null   int64
 12  Cabin_B                    6606 non-null   int64
 13  Cabin_C                    6606 non-null   int64
 14  Cabin_D                    6606 non-null   int64
 15  Cabin_E                    6606 non-null   int64
 16  Cabin_F                    6606 non-null   int64
 17  Cabin_G                    6606 non-null   int64
 18  Cabin_T                    6606 non-null   int64
 19  Destination_55 Cancri e    6606 non-null   int64
 20  Destination_PSO J318.5-22  6606 non-null   int64
 21  Destination_TRAPPIST-1e    6606 non-null   int64
 22  Transported_encoder        6606 non-null   int64
 23  VIP_encoder                6606 non-null   int64
dtypes: int64(24)
memory usage: 1.3 MB

**Perform Train Test Split**

In [80]:
#your code here

In [83]:
features = df_dummies.drop(columns = ["Transported_encoder"])
target = df_dummies["Transported_encoder"]

In [84]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.20, random_state=0)

In [ ]:
df_dummies

In [85]:
X_train.head()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,...,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_encoder
3432,32,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
7312,4,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2042,30,0,236,0,1149,0,1,0,0,1,...,0,0,0,1,0,0,0,0,1,0
4999,17,13,0,565,367,1,0,0,1,1,...,0,0,1,0,0,0,0,0,1,0
5755,26,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [86]:
y_train.head()

3432    0
7312    1
2042    0
4999    0
5755    1
Name: Transported_encoder, dtype: int64

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [88]:
knn = KNeighborsClassifier(n_neighbors=2)

In [89]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [90]:
pred = knn.predict(X_test)
pred

array([1, 1, 0, ..., 1, 1, 1])

In [91]:
y_test.values

array([1, 0, 1, ..., 1, 1, 1])

In [92]:
knn.score(X_test, y_test)

0.7420574886535553

- Evaluate your model's performance. Comment it

The accuracy of 74.21% indicates reasonable performance of the KNN model, but it is important to consider other metrics to get a complete picture of performance.