# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [66]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [67]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [68]:
spaceship.shape

(8693, 14)

**Check for data types**

In [69]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [70]:
spaceship.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [71]:
spaceship = spaceship.dropna()
spaceship.shape

(6606, 14)

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [72]:
spaceship.Cabin = spaceship.Cabin.apply(lambda x: x[0])

- Drop PassengerId and Name

In [73]:
spaceship = spaceship.drop(['PassengerId', 'Name'], axis=1)
spaceship

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,G,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,G,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,E,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,E,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

- For non-numerical columns, do dummies.

In [74]:
# Establish 'features' and 'target'.
features = spaceship.drop('Transported', axis=1)
target = spaceship.Transported

**Perform Train Test Split**

In [75]:
# Perform the split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state=0)

In [76]:
from sklearn.preprocessing import OneHotEncoder

# Initiate OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)

# Split training set into categorical and numerical
X_train_cat = X_train.select_dtypes(['object', 'bool'])
X_train_num = X_train.drop(X_train_cat, axis=1)

# Fit OneHotEncoder with the categorical data and transform it into numerical values
ohe.fit(X_train_cat)
X_train_trans_np = ohe.transform(X_train_cat)

# Create a dataframe using the transformed values and the original index
X_train_trans_df = pd.DataFrame(X_train_trans_np, columns=ohe.get_feature_names_out(), index=X_train.index)

# Concatenate the newly transformed train dataframe with the train numerical dataframe
df_train = pd.concat([X_train_trans_df, X_train_num], axis=1)
df_train.head()

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,...,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
3432,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0
7312,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
2042,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,30.0,0.0,236.0,0.0,1149.0,0.0
4999,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,1.0,0.0,17.0,13.0,0.0,565.0,367.0,1.0
5755,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,26.0,0.0,0.0,0.0,0.0,0.0

In [77]:
# Split test set into categorical and numerical
X_test_cat = X_test.select_dtypes(['object', 'bool'])
X_test_num = X_test.drop(X_test_cat, axis=1)

# Transform the categorical data into numerical values
X_test_trans_np = ohe.transform(X_test_cat)

# Create a dataframe using the transformed values and the original index
X_test_trans_df = pd.DataFrame(X_test_trans_np, columns=ohe.get_feature_names_out(), index=X_test.index)

# Concatenate the newly transformed test dataframe with the test numerical dataframe
df_test = pd.concat([X_test_trans_df, X_test_num], axis=1)
df_test.head()

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,...,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
2453,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,50.0,0.0,0.0,0.0,0.0,0.0
1334,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,18.0,0.0,0.0,0.0,0.0,0.0
8272,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0
5090,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,52.0,0.0,0.0,0.0,0.0,0.0
4357,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,62.0,0.0,1633.0,0.0,1742.0,0.0

In [97]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

normalizer = StandardScaler()
normalizer.fit(df_train)

df_train_norm = normalizer.transform(df_train)
df_test_norm = normalizer.transform(df_test)

df_train_norm = pd.DataFrame(df_train_norm, columns = df_train.columns, index = df_train.index)
df_train_norm.head()

df_test_norm = pd.DataFrame(df_test_norm, columns = df_test.columns, index = df_test.index)
df_test_norm.head()

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,...,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
2453,-1.081675,-0.583761,1.959293,-1.353973,1.353973,-0.183429,-0.322931,-0.31319,-0.248362,-0.338427,...,-0.328263,-1.476894,0.163149,-0.163149,1.458040,-0.347046,-0.282099,-0.305892,-0.271543,-0.271123
1334,0.924492,-0.583761,-0.510388,-1.353973,1.353973,-0.183429,-0.322931,-0.31319,-0.248362,-0.338427,...,3.046335,-1.476894,0.163149,-0.163149,-0.742005,-0.347046,-0.282099,-0.305892,-0.271543,-0.271123
8272,0.924492,-0.583761,-0.510388,-1.353973,1.353973,-0.183429,-0.322931,-0.31319,-0.248362,-0.338427,...,-0.328263,-1.476894,0.163149,-0.163149,-0.948260,-0.347046,-0.282099,-0.305892,-0.271543,-0.271123
5090,0.924492,-0.583761,-0.510388,-1.353973,1.353973,-0.183429,-0.322931,-0.31319,-0.248362,-0.338427,...,3.046335,-1.476894,0.163149,-0.163149,1.595543,-0.347046,-0.282099,-0.305892,-0.271543,-0.271123
4357,-1.081675,1.713031,-0.510388,0.738567,-0.738567,-0.183429,3.096640,-0.31319,-0.248362,-0.338427,...,-0.328263,0.677097,-6.129384,6.129384,2.283058,-0.347046,0.678012,-0.305892,1.228811,-0.271123

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [107]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=9)
knn.fit(df_train_norm, y_train)

KNeighborsClassifier(n_neighbors=9)

In [88]:
pred = knn.predict(df_test_norm)
pred

array([ True,  True,  True, ...,  True,  True,  True])

In [89]:
y_test.values

array([ True, False,  True, ...,  True,  True,  True])

In [108]:
print(f"The accuracy of the model is {knn.score(df_test_norm, y_test)*100: .2f}%")

The accuracy of the model is  78.06%

- Evaluate your model's performance. Comment it

Scored 78% on accuracy. The n_neighbours number appears to perform best when set to '9'.