# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [6]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [8]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [10]:
spaceship.shape

(8693, 14)

**Check for data types**

In [12]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [17]:
shapeship.info()

NameError: name 'shapeship' is not defined

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [23]:
df_cleaned = spaceship.dropna()
test = df_cleaned.copy()

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [25]:
test['Cabin'] = test['Cabin'].str.split('/').str[0]

In [31]:
test["Cabin"].unique()

array(['B', 'F', 'A', 'G', 'E', 'C', 'D', 'T'], dtype=object)

- Drop PassengerId and Name

In [61]:
test.drop(columns =["PassengerId", "Name"], inplace = True)

- For non-numerical columns, do dummies.

In [63]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    6606 non-null   object
 1   CryoSleep     6606 non-null   object
 2   Cabin         6606 non-null   object
 3   Destination   6606 non-null   object
 4   Age           6606 non-null   float64
 5   VIP           6606 non-null   object
 6   RoomService   6606 non-null   float64
 7   FoodCourt     6606 non-null   float64
 8   ShoppingMall  6606 non-null   float64
 9   Spa           6606 non-null   float64
 10  VRDeck        6606 non-null   float64
 11  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 625.8+ KB

In [69]:
df_dummies = pd.get_dummies(test, columns=['HomePlanet', 'CryoSleep','Cabin', 'Destination', 'VIP'])

In [73]:
df_dummies = df_dummies.astype(int)

In [75]:
df_dummies

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True
0,39,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
1,24,109,9,25,549,44,1,1,0,0,...,0,0,1,0,0,0,0,1,1,0
2,58,43,3576,0,6715,49,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
3,33,0,1283,371,3329,193,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
4,16,303,70,151,565,2,1,1,0,0,...,0,0,1,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,41,0,6819,0,1643,74,0,0,1,0,...,0,0,0,0,0,1,0,0,0,1
8689,18,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,1,0
8690,26,0,0,1872,1,0,1,1,0,0,...,0,0,0,1,0,0,0,1,1,0
8691,32,0,1049,0,353,3235,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
8692,44,126,4688,0,0,12,1,0,1,0,...,0,1,0,0,0,0,0,1,1,0

**Perform Train Test Split**

In [88]:
X = df_dummies.drop(columns=['Transported'])  # Features
y = df_dummies['Transported']  # Target variable

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=0)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [99]:
from sklearn.neighbors import KNeighborsClassifier

In [101]:
knn = KNeighborsClassifier(n_neighbors=3)

In [104]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [107]:
pred = knn.predict(X_test)
pred

array([1, 1, 1, ..., 1, 1, 1])

In [110]:
y_test.values

array([1, 0, 1, ..., 1, 1, 1])

- Evaluate your model's performance. Comment it

In [116]:
print(f"The accuracy of the model is {knn.score(X_test, y_test)*100: .2f}%")

The accuracy of the model is  75.26%