# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [109]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [110]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [111]:
#your code here

spaceship.shape
spaceship

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

**Check for data types**

In [112]:
#your code here

spaceship.dtypes
print("Data types in the DataFrame:\n", data_types)

Data types in the DataFrame:
 PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [113]:
#your code here

spaceship.isnull().sum()
print("Missing values in the DataFrame:\n", missing_values)

Missing values in the DataFrame:
 PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [114]:
#your code here

df = spaceship.dropna()
df.shape

(6606, 14)

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [115]:

df['Cabin'] = df['Cabin'].str.split('/').str[0]

df.head(5)

C:\Users\rath_\AppData\Local\Temp\ipykernel_31308\1065178632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cabin'] = df['Cabin'].str.split('/').str[0]

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

- Drop PassengerId and Name

In [116]:
#your code here

# Dropping 'PassengerId' and 'Name' columns
df.drop(['PassengerId', 'Name'], axis=1, inplace=True)

df.head(5)

C:\Users\rath_\AppData\Local\Temp\ipykernel_31308\241380709.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['PassengerId', 'Name'], axis=1, inplace=True)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

- For non-numerical columns, do dummies.

In [117]:
#your code 

Categorical_df = df[["HomePlanet","CryoSleep","Cabin","Destination","VIP"]]

In [118]:
Categorical_df

     HomePlanet CryoSleep Cabin    Destination    VIP
0        Europa     False     B    TRAPPIST-1e  False
1         Earth     False     F    TRAPPIST-1e  False
2        Europa     False     A    TRAPPIST-1e   True
3        Europa     False     A    TRAPPIST-1e  False
4         Earth     False     F    TRAPPIST-1e  False
...         ...       ...   ...            ...    ...
8688     Europa     False     A    55 Cancri e   True
8689      Earth      True     G  PSO J318.5-22  False
8690      Earth     False     G    TRAPPIST-1e  False
8691     Europa     False     E    55 Cancri e  False
8692     Europa     False     E    TRAPPIST-1e  False

[6606 rows x 5 columns]

In [119]:
numerical_df = df.drop(columns=["HomePlanet","CryoSleep","Cabin","Destination","VIP"])

In [120]:
numerical_df

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0     39.0          0.0        0.0           0.0     0.0     0.0        False
1     24.0        109.0        9.0          25.0   549.0    44.0         True
2     58.0         43.0     3576.0           0.0  6715.0    49.0        False
3     33.0          0.0     1283.0         371.0  3329.0   193.0        False
4     16.0        303.0       70.0         151.0   565.0     2.0         True
...    ...          ...        ...           ...     ...     ...          ...
8688  41.0          0.0     6819.0           0.0  1643.0    74.0        False
8689  18.0          0.0        0.0           0.0     0.0     0.0        False
8690  26.0          0.0        0.0        1872.0     1.0     0.0         True
8691  32.0          0.0     1049.0           0.0   353.0  3235.0        False
8692  44.0        126.0     4688.0           0.0     0.0    12.0         True

[6606 rows x 7 columns]

In [121]:
Categorical_df_encounter = pd.get_dummies(Categorical_df, drop_first=True)

In [122]:
Categorical_df_encounter

,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True
0,True,False,False,True,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,True,False,False,False,True,False
2,True,False,False,False,False,False,False,False,False,False,False,True,True
3,True,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,True,False,False,False,False,False,False,False,False,False,False,False,True
8689,False,False,True,False,False,False,False,False,True,False,True,False,False
8690,False,False,False,False,False,False,False,False,True,False,False,True,False
8691,True,False,False,False,False,False,True,False,False,False,False,False,False
8692,True,False,False,False,False,False,True,False,False,False,False,True,False

In [123]:
features = pd.concat([numerical_df,Categorical_df_encounter], axis=1)

In [124]:
target = df["Transported"]

**Perform Train Test Split**

In [129]:

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)
X_train.head(10)

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_True,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_True
7832,25.0,0.0,1673.0,0.0,642.0,612.0,False,True,False,False,False,False,False,False,False,False,False,False,False,False
5842,36.0,0.0,2624.0,1657.0,2799.0,1.0,False,True,False,False,False,True,False,False,False,False,False,False,True,False
3928,34.0,0.0,0.0,0.0,0.0,0.0,True,False,True,True,False,False,False,False,True,False,False,False,False,False
4091,37.0,0.0,0.0,0.0,0.0,0.0,True,False,False,True,False,False,False,False,False,True,False,False,False,False
7679,22.0,0.0,0.0,0.0,0.0,0.0,True,False,False,True,False,False,False,False,False,True,False,True,False,False
4668,46.0,0.0,4.0,834.0,0.0,32.0,True,False,False,False,False,False,False,False,True,False,False,False,True,False
781,15.0,0.0,59.0,714.0,0.0,3.0,True,False,False,False,False,False,False,False,True,False,False,False,False,False
7122,0.0,0.0,0.0,0.0,0.0,0.0,True,False,False,True,False,False,False,False,False,True,False,False,False,False
3030,43.0,0.0,0.0,0.0,0.0,0.0,True,True,False,True,True,False,False,False,False,False,False,False,False,False
2360,42.0,41.0,1912.0,0.0,1899.0,43.0,False,True,False,False,True,False,False,False,False,False,False,False,True,False

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [130]:
#your code here
from sklearn.preprocessing import MinMaxScaler

normalize = MinMaxScaler()

In [131]:
# Fit the scaler to the training data and transform it
X_train_scaled = normalize.fit(X_train)

# Transform the test data using the same scaler
X_test_scaled = normalize.transform(X_test)
X_train_scaled = normalize.transform(X_train)

- Evaluate your model's performance. Comment it

In [ ]:
#your code here