# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [16]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [18]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [20]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

**Check for data types**

In [22]:
print(spaceship.dtypes)

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [25]:
print(spaceship.isnull().sum())

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [32]:
spaceship = spaceship.dropna()

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [34]:
spaceship['Cabin'].unique()

spaceship['Cabin'] = spaceship['Cabin'].str.strip().apply(lambda x: x[0] if pd.notnull(x) else x)

display(spaceship)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

- Drop PassengerId and Name

In [37]:
spaceship = spaceship.drop(['PassengerId', 'Name'], axis=1)

In [40]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    6606 non-null   object
 1   CryoSleep     6606 non-null   object
 2   Cabin         6606 non-null   object
 3   Destination   6606 non-null   object
 4   Age           6606 non-null   float64
 5   VIP           6606 non-null   object
 6   RoomService   6606 non-null   float64
 7   FoodCourt     6606 non-null   float64
 8   ShoppingMall  6606 non-null   float64
 9   Spa           6606 non-null   float64
 10  VRDeck        6606 non-null   float64
 11  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 625.8+ KB

- For non-numerical columns, do dummies.

In [44]:
categorical_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

from sklearn.datasets import fetch_openml
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler


categorical_cols = ['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']
# features and target
X = spaceship.drop(columns=['Transported'])
y = spaceship['Transported']

# non-numerical columns
categorical_cols = X.select_dtypes(include=['object']).columns

# OneHotEncoder 
ohe = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' to avoid multicollinearity
X_categorical_cols = ohe.fit_transform(X[categorical_cols])
X_non_numerical_transformed_df = pd.DataFrame(X_categorical_cols, columns=ohe.get_feature_names_out(categorical_cols), index=X.index)

In [49]:
spaceship.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    6606 non-null   object
 1   CryoSleep     6606 non-null   object
 2   Cabin         6606 non-null   object
 3   Destination   6606 non-null   object
 4   Age           6606 non-null   float64
 5   VIP           6606 non-null   object
 6   RoomService   6606 non-null   float64
 7   FoodCourt     6606 non-null   float64
 8   ShoppingMall  6606 non-null   float64
 9   Spa           6606 non-null   float64
 10  VRDeck        6606 non-null   float64
 11  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(5)
memory usage: 625.8+ KB

**Perform Train Test Split**

In [52]:
# Combine the transformed non-numerical columns with numerical columns
X_numerical = X.drop(columns=categorical_cols)
X_transformed = pd.concat([X_numerical, X_non_numerical_transformed_df], axis=1)
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=42)


print("Training features:")
print(X_train.head())
print("Training target:")
print(y_train.head())
print("Test features:")
print(X_test.head())
print("Test target:")
print(y_test.head())

Training features:
       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
7832  25.0          0.0     1673.0           0.0   642.0   612.0
5842  36.0          0.0     2624.0        1657.0  2799.0     1.0
3928  34.0          0.0        0.0           0.0     0.0     0.0
4091  37.0          0.0        0.0           0.0     0.0     0.0
7679  22.0          0.0        0.0           0.0     0.0     0.0

      HomePlanet_Europa  HomePlanet_Mars  CryoSleep_True  Cabin_B  Cabin_C  \
7832                1.0              0.0             0.0      0.0      0.0
5842                1.0              0.0             0.0      0.0      1.0
3928                0.0              1.0             1.0      0.0      0.0
4091                0.0              0.0             1.0      0.0      0.0
7679                0.0              0.0             1.0      0.0      0.0

      Cabin_D  Cabin_E  Cabin_F  Cabin_G  Cabin_T  Destination_PSO J318.5-22  \
7832      0.0      0.0      0.0      0.0      0.0                        0.0
5842      0.0      0.0      0.0      0.0      0.0                        0.0
3928      0.0      0.0      1.0      0.0      0.0                        0.0
4091      0.0      0.0      0.0      1.0      0.0                        0.0
7679      0.0      0.0      0.0      1.0      0.0                        1.0

      Destination_TRAPPIST-1e  VIP_True
7832                      0.0       0.0
5842                      1.0       0.0
3928                      0.0       0.0
4091                      0.0       0.0
7679                      0.0       0.0
Training target:
7832    False
5842    False
3928     True
4091     True
7679     True
Name: Transported, dtype: bool
Test features:
       Age  RoomService  FoodCourt  ShoppingMall  Spa  VRDeck  \
8441  29.0          0.0        0.0           0.0  0.0     0.0
8058  13.0          0.0        0.0           0.0  0.0     0.0
320   50.0          0.0        0.0           0.0  0.0     0.0
2548   6.0          0.0        0.0           0.0  0.0     0.0
8027  37.0        210.0        3.0         601.0  1.0    68.0

      HomePlanet_Europa  HomePlanet_Mars  CryoSleep_True  Cabin_B  Cabin_C  \
8441                1.0              0.0             1.0      1.0      0.0
8058                0.0              0.0             1.0      0.0      0.0
320                 0.0              0.0             1.0      0.0      0.0
2548                0.0              0.0             0.0      0.0      0.0
8027                0.0              0.0             0.0      0.0      0.0

      Cabin_D  Cabin_E  Cabin_F  Cabin_G  Cabin_T  Destination_PSO J318.5-22  \
8441      0.0      0.0      0.0      0.0      0.0                        0.0
8058      0.0      0.0      0.0      1.0      0.0                        0.0
320       0.0      0.0      0.0      1.0      0.0                        0.0
2548      0.0      0.0      0.0      1.0      0.0                        0.0
8027      0.0      0.0      0.0      1.0      0.0                        0.0

      Destination_TRAPPIST-1e  VIP_True
8441                      1.0       0.0
8058                      0.0       0.0
320                       1.0       0.0
2548                      0.0       0.0
8027                      1.0       0.0
Test target:
8441     True
8058     True
320      True
2548    False
8027    False
Name: Transported, dtype: bool

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [55]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)

# predictions on the test set
y_pred = knn.predict(X_test)

- Evaluate your model's performance. Comment it

In [58]:
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

# Print the evaluation results
print(f'Accuracy: {accuracy}')
print(f'Classification Report:\n{report}')
print(f'Confusion Matrix:\n{conf_matrix}')

Accuracy: 0.7881996974281392
Classification Report:
              precision    recall  f1-score   support

       False       0.78      0.79      0.79       653
        True       0.79      0.79      0.79       669

    accuracy                           0.79      1322
   macro avg       0.79      0.79      0.79      1322
weighted avg       0.79      0.79      0.79      1322

Confusion Matrix:
[[515 138]
 [142 527]]